@import url('https://fonts.googleapis.com/css2?family=Roboto Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
html{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    background: #120b20;
    user-select: none;
    font-family: "Roboto Mono", sans-serif;
    color: #b3b3b3;
    initial-scale:1;
    transition: 0.7s ease;

}



body {

    margin: 0;
    font-family: "Roboto Mono", BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 1;
    color: #cdcdcd;

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

br{
    margin-top: 0%;
}


App{
    width: 100%;
    overflow: hidden;
    height: 100%;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
    margin-right: 10px;
}


/* Handle */
::-webkit-scrollbar-thumb:hover {
    background: rgba(237, 89, 168, 0.79);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(147, 148, 149, 0.58);

}



/* layout styles */
nav {
    background:  transparent;
    background-blend-mode: screen;
    width: calc(100% - 34px);
    height: 60px;
    margin: 17px;
    align-items: center;
    display: flex;
    justify-items: center;
    flex: 1;
    vertical-align: center;
    align-content: center;
    padding-bottom: 3px;
    transition: 0.4s ease;
    backdrop-filter: blur(1.2pt);
    position: fixed;
    z-index: 100;
    top: 0; /* required */
    border: #e82645 1px solid;
    border-width: 0px 0px 0px 0px;

    border-radius: 50px;
}

nav:hover {
    background: rgba(85, 85, 85, 0.18);
    color: #888;
    box-shadow: 2px 2px 12px 10px rgba(223, 223, 223, 0.02);
}

nav a{
    vertical-align: center;
    color: var(--title);
}
nav .sidenav-trigger{
    margin: 0;
}

::placeholder{
    color: #8a8a8a;
}

::-ms-input-placeholder{
    color: #ccc;

}

FlatList.css {
    max-height: 400px;
}

input{
    font-family: "Roboto Mono", sans-serif;
    width: 80%;
    background: transparent;
    mask-border-mode: unset;
    font-size: 14px;
    box-shadow: none !important;
    border: none;
    padding: 20px;
    transition: 0.4s ease;
    border-bottom: 1px solid #949494;
    -webkit-box-shadow: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:window-inactive,
input:-webkit-autofill:focus,
input:-webkit-autofill:not(:focus),
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #aaa;
    -webkit-text-stroke-color: #aaa;
}

input:not(:focus){
    background-color: transparent;
    background: transparent;
}

button {
    background-color: transparent;
    font-family: "Roboto Mono" , sans-serif;
    font-size: 16px;
    padding-top:10px;
    padding-bottom: 10px;
    border-radius: 7px;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.4s ease;
    border: none;
    color: #fff;
}



:root{
    --primary: #f0f0f0;
    --secondary: rgba(11, 17, 45, 0.7);
    --title: #777;
    --third : #0F3042
}

input:focus{
    outline: none;
    border-bottom: 1px solid #b94949;
    box-shadow: none !important;
}
input:active{outline: none;
    border-bottom: 1px solid #b94949;
    box-shadow: none !important;
}

input.noner{
    border-bottom: 1px solid rgba(49, 49, 49, 0.079);
}

select{
    background-color: transparent; /* Set the background color to transparent */
    color: inherit; /* Inherit the text color from the input */
    background: transparent;
    transition: 0.4s ease;
    border-bottom: 1px solid #eee;
}

span {
    color: #b3b3b3;
}

textarea{
    background:transparent;
    font-family: "Roboto Mono", sans-serif;
    font-size: 18px;
    color: rgba(238, 238, 238, 0.73);
    resize: none;
    line-height:1.5;
}

textarea:focus{
    border: none;
    outline: none;
}

textarea:focus{
    border: none;
}

.glassed {
    backdrop-filter: blur(12px);
}

/*
ROM SPECIAL
 */
.rom-app {
    overflow: auto;
    backdrop-filter: blur(7px);
    height: 100%;
}

.dcs {
    border-width: 2px;
    border-style: solid;
}

.enucs{
    font-size: 67px;
    margin-top: 10px;
    font-weight: bold;
    text-shadow: 1px 2px 12px rgba(0, 0, 0, 0.38);
}

.text-shadow{
    text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.38);
}

.pie-chart{
    border-radius: 50%;

}

.slice {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 50%, 100% 0, 100% 100%);
}

.slice.blue {
    transform: rotate(0deg);
    background-color: #3498db;
}

.slice.red {
    transform: rotate(60deg);
    background-color: #e74c3c;
}

.circle{
    margin: 10px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
}

.back-red{
    background-color: #d24949;
}
.back-pink{
    background-color: #c55c5c;
}
.back-white{
    background-color: #eeeeee;
}

.right-container{
    width: 60%;
    background-color: #1c4254;
    right: 0px;
    height: calc(100vh - 50px);
}

.home-cour{
    /*background-image: url('assets/code.jpg');*/
    filter: blur(2.6px);
    z-index: -1;
    opacity: 0.56;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60%; position: absolute;
    text-align: center;
    height: calc(100vh - 50px);
}

p {
    color:#eee
}

.home-1{display:flex; flex:1; height:calc( 100vh - 50px); width:100%; position:relative}

.text {
    text-align: center;
    z-index: 12;
}

.full{
    width: 100%;
    height: 100%;
}

.page {
    width: 100%;
    height: calc(100vh - 78px);
    flex: 1;
    margin-bottom: 0px;
    margin-top:78px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
}


a:link{
    font-family: "Roboto Mono", sans-serif;
    text-underline: none;
    text-decoration: none;
}

a.items {
    margin: 12px;
    vertical-align: middle;
    font-size: 19px;
}

span.red {
    color: #d24949;
}

.left{
    align-self:flex-start;
}

/* form-styles */
.add-btn{
    background: var(--primary) !important;
}


.fix {
    text-align: center;
    position: fixed;
    margin: 0px;
}

.title{

    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;

}

.image{
    display: inline-block;
    margin: 10px;
}
.prophoto{

    border-radius: 4%;
    border-style: solid;
    border-width: 1.5px;
    width:25%;
    border-color:#d3d3d3;
    vertical-align: middle;
    display: inline-block;
    z-index: 1;
}

.holder{

    max-width:30%;
}


.hider {
    opacity: 1;
    transition: 0.3s ease;
    visibility: visible;
}

.hider-reverse {
    opacity: 0;
    transition: 0.3s ease;
    visibility: hidden;
}

.shadow-boxer{
    backdrop-filter: blur(7px);
    border-radius: 30px;
    box-shadow: 4px 4px 26px rgba(2, 3, 3, 0.12);
}

.shadow-boxer-top{
    backdrop-filter: blur(7px);
    border-radius: 30px;
    box-shadow: 4px 4px 26px rgba(2, 3, 3, 0.12);
    /*background-image: url("assets/str.png");*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.flex {
    display: flex;
}

.flex > div {
    flex: 1;
}

.panel-left{
    opacity: 1;
    visibility: visible;
    height: 100%;
    z-index: 2;
    padding: 20px;
    width: 23%;
    float: left;
    align-content: center;
    transition: 0.3s ease;
    position: fixed;
    box-shadow:  0px 6px 3px rgba(90, 90, 90, 0.438);
    background-color: #fff;
}

.panel-right{
    opacity: 1;
    visibility: visible;
    padding: 20px;
    right: 0;
    float: left;
    height: 100%;
    align-content: center;
    width: 23%;
    background-color: #fff;
    position: fixed;
    box-shadow: 0px 6px 3px rgba(90, 90, 90, 0.438);
    transition: 0.3s ease;
}

button.blackx {
    font-size: 14px;
    color:#0000009d;
}

button.grayx {
    font-size: 14px;
    color:#0000009d;
    background-color: #0000001d;
    transition: 0.3s ease;
}

.grayx:hover {
    background-color: rgba(94, 94, 94, 0.37);
    box-shadow: 1px 1px 10px 1px rgba(30, 30, 30, 0.18);
}

/*
Green X
 */
button.greenx {
    font-size: 14px;
    color: #ffffff;
    font-family: "Roboto Mono", sans-serif;
    background-color: #69e8a4;
}

.greenx:hover {
    background-color: #2c724c;
}

.greenx:focus {
    background-color: #2c724c;
}
.shGreen {
    box-shadow: 1px 1px 10px 1px rgba(41, 246, 122, 0.51);
}

/*
Blue X
 */
.bluex {
    font-size: 14px;
    font-family: "Roboto Mono", sans-serif;
    color: #ffffff;
    background-color: #4680ff;
}
.bluex:hover {
    background-color: #224ca8;
}

.bluex:focus {
    background-color: #224ca8;
}
.shBlue {
    box-shadow: 1px 1px 10px 1px rgba(0, 81, 255, 0.45);
}

/*Purple X
 */

.purplex {
    font-size: 14px;
    font-family: "Roboto Mono", sans-serif;
    color: #ffffff;
    background-color: #e826af;
}
.purplex:hover {
    background-color: #811a70;
}

.purplex:focus {
    background-color: #811a70;
}
.shPurple {
    box-shadow: 1px 1px 10px 1px rgba(247, 0, 255, 0.34);
}

/*
Red X
 */

.redx {
    color: #ffffff;
    font-family: "Roboto Mono", sans-serif;
    font-size: 14px;
    background-color: #FF5757;
}
.redx:hover {
    background-color: #cb3535;
}

.redx:focus {
    background-color: #cb3535;
}
.shRed {
    box-shadow: 1px 1px 10px 2px rgba(195, 80, 80, 0.93);
}

/*
Orange X
 */

.orangex {
    color: #ffffff;
    font-family: "Roboto Mono", sans-serif;
    font-size: 14px;
    background-color: #ff8b4f;
}

.orangex:hover {
    background-color: #9f552f;
}

.orangex:focus {
    background-color: #9f552f;
}
.shOrange {
    box-shadow: 1px 1px 10px 1px rgba(255, 141, 69, 0.45);
}

/*
Theme X
 */

button.themex {
    font-family: "Roboto Mono", sans-serif;
    font-size: 14px;
    color: #ffffff;
    background-color: #1c4254;
}

.themex:hover {
    background-color: #275c75;
}

.themex:focus {
    background-color: #275c75;
}
.shTheme {
    box-shadow: 1px 1px 10px 1px rgba(11, 14, 26, 0.37);
}


blackx:hover {
    background-color: #0000001b;
}

blackx:focus {
    background-color: #00000011;
}


button:hover {
    background-color: #0000001b;
}

button:focus {
    background-color: #00000007;
}

button.white-shadow:hover {
    background-color: #fff7f71b;
}

button.white-shadow:focus {
    background-color: #ffffff07;
}

hr {
    border: 0.2px solid #0000000c;
    color: #00000054;
}

.panelList {

    height: auto;
    float: left;
    margin-left: 23%;
    width: 54%;

}

a{
    color: rgba(61, 61, 61, 0.87);
}

.sidenav-side-form {
    transition: 0.3s ease-out;
    width:0px;
    visibility: hidden;
}

/*
div nav-bar bottom
 */
.mobile-nav{
    width: 100%;
    height: 0px;
    background-color: rgb(19, 23, 25);
    position: fixed;
    bottom: 0px;
    z-index: 120;
    transition: 0.4s ease;
    opacity: 0;
    visibility: hidden;
}

.mobile-nav-item4{
    text-align: center;
    align-self: center;
    background-color: transparent;
    width: 50%;
    height: 100%;
    top: 50%;

    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-top:45px;
    transition: 0.4s ease;
    float: left;
}
.mobile-nav-item4:hover{
    background-color: transparent;
}
.mobile-nav-item4:focus{
    background-color: transparent;
}
.mobile-nav-item4:active{
    background-color: transparent;
}

.cardText{

}

.cardMain{
    width: 100%;
    transform: translateY(-100%);
    transition: 0.4s ease;
    z-index: -100;
    position: relative;
    -webkit-user-drag: auto	;
    margin: 0px;
    height: 200px;
    object-fit: cover ;
    background-position: center;
    box-shadow: -1px 1px 16px 1px rgba(61, 61, 61, 0.47);
}


/*
Universal widgets for my project
 */

.alertbox {
    align-self: center;
    vertical-align: center;
    text-align: center;
    height: auto;
    padding: 10px;
    padding-bottom: 15px;
    margin:auto;
    margin-top: 10%;
    z-index: 1;
    background-color: #fffcfc;
    border-radius: 12px;
    width: auto;
    max-width: 290px;
    transition: 0.5s ease;
    box-shadow: 2px 3px 16px 5px rgba(79, 79, 79, 0.19);
}
.alert{

    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
    align-self: center;
    align-items: center;
    z-index: 2560;
    position: fixed;
    transition: 0.5s ease;
    opacity: 0;
    visibility: hidden;
}

p.aTitle {
    font-size: 18px
}
p.aText {
    font-size: 13px;
    color: rgba(103, 103, 103, 0.75);
}




.wrap-text-white{
    transition: 0.4s ease;
    width: 280px;
    color: #a2a2a2;
    minWidth:280px,
}

.lengify{
    transition: 0.4s ease;
}

@media screen and (max-width: 800px)
{
    .items{
        font-size: 16px;
    }

    .holder{
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 20px;
        max-width: 80%;
    }

}

@media screen and (max-width: 600px) {


    .web-console{font-size: 20px}
    .small{font-size: 20px}
}


.mobile-view{
    width: 0px;
    height: 0px;
    opacity: 0;
    visibility: hidden;
    transition: 0.6s ease;
}

.mobile-view-img{
    /*background-image: url("assets/dar.png");*/
    filter: blur(2.9px);
    box-shadow: 1px 1px 10px 1px rgba(8, 14, 14, 0.34);
    background-size: cover ;
    height: 0px;
    background-repeat: no-repeat;
}

.highlight{
    border-radius: 7px;
    padding: 5px;
    padding-left: 14px;
    padding-right: 14px;
    background-color: #e7e7e7;
    color: #888;
    transition: 0.4s ease;
}

.highlight:hover{
    background-color: #ddd;
    box-shadow: 2px 2px 7px rgba(100,100,100,0.4);
}

.highlight-dark{
    border-radius: 7px;
    padding: 5px;
    padding-left: 14px;
    padding-right: 14px;
    background-color: rgba(36, 41, 42, 0.4);
    color: #c9c9c9;
    transition: 0.4s ease;
}

.highlight-dark:hover{
    background-color: rgba(7, 7, 7, 0.63);
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4);
}

.dark{
    color: #eee;
}

.dark ::placeholder{
    color: #343434;
}


@media screen and (max-width: 900px) {

    .left-sider{visibility: hidden;  opacity: 0; height: 0px}
    .home-1{visibility: hidden; transition: 0.3s ease; opacity: 0; height: 0px}
    .full{height: 0px; opacity: 0; visibility: hidden;}
    .home-cour{height: 0px; opacity: 0; visibility: hidden}
    .web-console{font-size: 20px}
    .small{font-size: 20px}


    .mobile-view-img{
        width: 100%;
        height: 260px;
    }

    .page{
        height: calc(100vh - 148px);
    }

    .mobile-view{
        width: 100%;
        height:260px;
        opacity: 1.0;
        visibility: visible;
        transition: 0.6s ease;
    }

    .mobile-nav{
        width: 100%;
        height: 70px;
        opacity: 1;
        visibility: visible;
        backdrop-filter: blur(1.3px);
        -webkit-backdrop-filter: blur(1.3px);
        box-shadow: 4px 1px 9px rgba(27, 29, 31, 0.61);
    }

    .recipes{
        margin-bottom: 80px;
    }

    .sidenav-side-form{
        transition: 0.3s ease-out;
        width:70%;
        visibility: visible;
    }
    .panel-left{

        width: 0;
        opacity: 0;
        float: left;
        visibility: hidden;
        transition: 0.3s ease;
        top:0;
        left: 0;
        height: 100%;
        background-color: #f0f7ff;
    }

    .panel-right{
        opacity: 0;
        width: 0;
        float: left;
        visibility: hidden;
        transition: 0.3s ease;
        height: 100%;
        right: 0;
        top:0%;
        background-color: #ffffff;
    }

    .hider {
        opacity: 0;
        transition: 0.3s ease;
        visibility: hidden;
    }
    .hider-reverse {
        opacity: 1;
        transition: 0.3s ease;
        visibility: visible;
    }

    .flex {
        display:inline;
    }

    .panelList {
        width:100%;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0%;
        height: auto;
    }
}

.bigfor{
    transition: 0.4s ease;
}


.divider-page {
    width: 50%;
    height: 100%;

}
.divider-page-loss {
    width: 50%;
    height: 100%;

}

.img-side {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.appearer {
    visibility: visible;
    opacity: 1;
    width: 100%;
}

.ease{
    transition: 0.4s ease;
}

.page-loss {
    visibility: visible;
    width: 100%;
    height: calc(100% - 3px);
    opacity: 1;
    transition: 0.4s ease;
}

.flex{
    display: flex;
}

.page-gain {
    visibility: hidden;
    width: 0%;
    height: 0%;
    opacity: 0;
    transition: 0.4s ease;
}


@media screen and (max-width:1500px)
{
    .divider-page{
        width: 100%;
    }
    .page-loss {
        visibility: hidden;
        width: 0%;
        opacity: 0;
        height: 0%;
        transition: 0.4s ease;
    }

    .divider-page-loss {
        width: 0%;
        visibility: hidden;
        opacity: 0;
        height: 100%;
        transition: 0.4s ease;
    }


}

@media screen and (min-width:1500px) {

    .page-loss {
        visibility: visible;
        width: 100%;
        opacity: 1.0;
        height: calc(100% - 3px);
        transition: 0.4s ease;
    }

    .divider-page-loss {
        width: 50%;
        visibility: visible;
        opacity: 1;
        height: 100%;
        transition: 0.4s ease;
    }

    .appearer {
        width: 0%;
        height: 0%;
        visibility: hidden;
        opacity: 0;
        transition: 0.4s ease;
    }
}

@media screen and (max-width: 1780px)
{
    .bigfor{
        visibility: hidden;
        width: 0px;
        height: 0px;
    }
}

/*________*/

@media screen and (min-width: 1090px)
{


    .items{
        font-size: 16px;
    }

    .recipe-title{
        font-size: 20px;
    }
    .recipe-details{
        font-size: 16px;
    }

    .Osa{
        font-size: 20px;
        display: table-cell;
        width: 77%;
    }

    .Osa2{
        font-size: 20px;
        display: table-cell;
        width: 60%;
    }
}
@media screen and (min-width: 1290px)
{
    .default{

        font-size:19px;
    }

    .items{
        font-size: 16px;
    }

    .Osa2{
        font-size: 27px;
        display: table-cell;
        width: 70%;
    }
}

.Card{

    border-radius: 13px;
    background-color: #3fa9c3;
    padding:10px;
    display:inline-block;
    margin:10px;
    left:0px;
    width:25%;
    background: linear-gradient(to left,#43abc5,#008b8b);
    background-blend-mode: screen;
}

.web-console{
    font-family: "Consolas", sans-serif;
    font-size: 40px;
}

.small{
    transition: 0.5s ease;
    font-size: 30px;
}

.full-bg-img-mask{
    width: 100%;
    height:  100%;
    display: flex;
    overflow: auto;
    backdrop-filter: blur(4.3px);
    flex: 1;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.full-bg-img-mask-not-center{
    width: 100%;
    height:  100%;
    overflow: auto;
    position: absolute;
}

.shadow-container{
    box-shadow: 2px 2px 12px 11px rgba(54, 54, 54, 0.22);
}

.full-bg-img-mask
::-webkit-scrollbar {
    width: 0px;
    margin-right: 0px;
}

select {
    border: none;
    transition: 0.4s ease;
    border-bottom: 1px solid #dddddd;
    width: 88%;
    padding: 20px;
    font-family: "Roboto Mono", BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

select:focus{
    border:none;
    border-bottom: 1px solid #dddddd;
    outline: none
}

select:active{
    border:none;
    border-bottom: 1px solid #dddddd;
    outline: none
}

span:hover {
    background: transparent;
}

select option:focus{
    border-bottom: 1px solid #dddddd;
    background: #ff7676;
    color: #eee;
}


select option:hover{
    border-bottom: 1px solid #dddddd;
    background: #ff7676;
    color: #eee;
}


select option:active{
    border-bottom: 1px solid #dddddd;
    background: #ff7676;
    color: #eee;
}




select:-ms-keyboard-active {
    border: none;
}

select:-moz-window-inactive{
    border: none;
}

select::selection{
    border: none;
}

selector{
    border: none;
}

/* Handle */
.full-bg-img-mask::-webkit-scrollbar-thumb:hover {
    background: rgba(202, 202, 204, 0.79);
}

.full-bg-img-mask::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(11, 15, 23, 0.58);

}
.full-bg-img {
    /*background-image: url("assets/code.jpg");*/
    background-repeat: no-repeat;
    filter: blur(2.9px);
    opacity: 0.5;
    background-size: cover;
    position: absolute;
    width:  100%;
    height:  100%;
}

.full-bg-img-book {
    background-repeat: no-repeat;
    opacity: 0.9;
    background-size: cover;
    position: absolute;
    width:  100%;
    height:  100%;
}



@media screen  and (max-width: 792px) {
    .wrap-text-white{
        transition: 0.4s ease;
        width: 80%;
    }
}

.lengify{
    width: 650px;
}



@media screen and (max-width: 700px){
    .lengify{
        width: 330px;
    }
}

@media  screen and (max-width: 500px) {


    .mobile-nav-item4{
        visibility: visible;
    }
    .material-symbols-outlined{
        visibility: visible;
    }

    .small{
        transition: 0.5s ease;
        font-size: 11px;
    }

    p{
        font-size: 12px;
    }
}

/*
Light theme, dark front
 */

/*
Viewports
 */

.mobile {
    width: 0%;
    height: 0%;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s ease;
}

.pc{
    width: 100%;
    height: 100%;
    visibility: visible;
    opacity: 1;
    transition: 0.4s ease;
}

@media screen and (max-width: 600px) {


    .mobile {
        visibility: visible;
        opacity: 1;
        width: 100%;
        height: 100%;
        transition: 0.4s ease;
    }

    .pc{
        width: 100%;
        visibility: hidden;
        opacity: 0;
        width: 0%;
        height: 0%;
        transition: 0.4s ease;
    }

}